@import url(../fonts/airport/airport.css);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #EEEEEE; }

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(5rem, 1fr) minmax(min-content, 54rem) minmax(5rem, 1fr);
  justify-items: center; }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-columns: repeat(3, auto); } }

.news-feed {
  grid-column: 2 / 3;
  padding: 2rem 0; }

.card {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 5rem 4rem;
  display: grid;
  grid-template-rows: min-content 12rem auto;
  grid-template-columns: 12rem minmax(min-content, 32rem); }
  .card:not(:last-child) {
    margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .card {
      padding: 2rem 2rem;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(2, 1fr); } }
  .card__header {
    font-family: "airport", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-rendering: geometricPrecision;
    color: #555555;
    font-size: 3.6rem;
    margin-bottom: 2.5rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
    @media only screen and (max-width: 37.5em) {
      .card__header {
        margin-bottom: 1rem; } }
  .card__img {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    object-fit: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden; }
    .card__img img {
      height: 100%;
      width: auto; }
      @media only screen and (max-width: 37.5em) {
        .card__img img {
          width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .card__img {
        grid-column: 1 / -1;
        margin-bottom: 1rem; } }
  .card__text {
    margin-top: -.5rem;
    margin-left: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    grid-row: 2 / -1;
    grid-column: 2 / -1; }
    @media only screen and (max-width: 37.5em) {
      .card__text {
        margin-top: 0;
        margin-left: 0;
        font-weight: 400;
        grid-row: 3 / 4;
        grid-column: 1 / -1; } }
  .card__paragraph {
    margin: 1rem 0; }
  .card__link:link, .card__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #1377B2; }
  .card__link:hover, .card__link:active {
    text-decoration: underline; }

.news-date {
  color: #999999;
  font-style: italic; }
